<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Works</title>
  </head>
  <body class="works">
    <h2>Different stages of work</h2>

    <div>
      <h3>1882 The Hague</h3>
      <p>
        In January Van Gogh rented a studio on Schenkweg. Anton Mauve was
        supportive and also gave Vincent drawing lessons. When Vincent took in
        his model Sien Hoornik - pregnant, unmarried and with a daughter - and
        even wanted to marry her, both Mauve and Tersteeg turned their back on
        him once and for all. His brother Theo continued to support him
        financially. In March the artist received his first commission: he drew
        12 views of The Hague for his uncle, the art dealer 'C. M.'. Several
        watercolours followed in July. In August, Van Gogh painted studies in a
        conscious effort to produce work suitable for sale. Hoping to make a
        living as an illustrator, he made a few lithographs in November.
      </p>
    </div>
    <div>
      <h3>1883 Drenthe & Nuenen</h3>
      <p>
        While the landscape of Drenthe was a revelation to him, working
        conditions were appalling: the weather was bad and good drawing and
        painting materials were hard to come by. Furthermore, his allowance from
        Theo reached him with increasing delays and he was tormented by
        loneliness. After three months he decided to visit his parents in Nuenen
        and arrived there on 5 December. 1884.</break>
        Relations with his parents, though initially very strained, gradually improved. His final decision to become a painter of peasant life dates from this period. He produced numerous studies and watercolours of weavers in January and February. In May he rented a studio where he was to go and live a year later. In August - September he received a commission: he supplied large designs for six scenes from peasant life for Antoon Hermans, a retired Eindhoven goldsmith, as a decoration for his dining room. In the autumn, Van Gogh gave lessons in still-life painting to a few amateur artists, leading him to tackle the genre himself.
      </p>
    </div>
    <div>
        <h3>1885 Antwerp</h3>
        <p>
            On 24 November Van Gogh departed for Antwerp. After the quiet village life of Nuenen, the city with its historic buildings and museums was overwhelming; Peter Paul Rubens' colouring and brushstrokes made a particular impression on him. It was here too that Van Gogh learnt to appreciate Japanese prints. In Antwerp he hoped that painting portraits and townscapes could make him financially independent, but the art trade there was severely depressed and success continued to elude him.
        </p>
    </div>
    <div>
        <h3>1886 Paris</h3>
        <p>Van Gogh left unexpectedly for Paris around the beginning of March and moved in with Theo. He worked for about three months, probably in the spring, in Fernand Cormon's studio, where he made friends with Toulouse Lautrec and Emile Bernard among others; he drew and painted from live models and plaster casts. The brothers moved into a larger apartment at 25 rue Lepic in June. Vincent began to understand the real meaning of Impressionism and tried to master it. He demonstrated a great admiration for the flower still-lifes and other works of Adolphe Monticelli and came increasingly to appreciate the paintings of Eugene Delacroix and Puvis de Chavannes. He became a regular customer of the paint dealer Julien Tanguy, whose portrait he was later to paint.

        </p>
    </div>
    <div>
        <h3>1888 Arles</h3>
        <p>
            The hectic life he had been leading in Paris began to take its toll: Vincent was weakened both mentally and physically and produced very litde work. In search of peace and a warm climate he decided to leave for Arles in February.
            In February, neighbours objected to Vincent's presence in the Yellow House and he was again admitted to hospital. On 23 March, he received a visit from Paul Signac and together they went to the Yellow House. On 17 April, Theo married Johanna Gesina Bonger in Amsterdam.
        </p>
    </div>
    <div>
        <h3>1888 Saint-Remy</h3>
        <P>
            Vincent decided at the end of April to have himself admitted as a voluntary patient to the asylum of Saint-Paul-de-Mausole in nearby Saint-Remy. There he was treated by Dr Peyron, who concluded in the first few months that the patient behaved calmly and that his condition was improving satisfactorily.

        </P>
    </div>
    <div>
        <h3>1890 Auvers-Sur-Oise</h3>
        <p>
            On 6 July he visited Theo in Paris to discuss his brother's problems with Boussod & Valadon.

On 27 July Vincent shot himself in the chest and died of his wounds with Theo at his side on 29 July. The funeral was held in Auvers on 30 July and among those attending were Pere Tanguy, Emile Bernard and Lucien Pissarro.

Theo was to die six months later.
        </p>
    </div>
  </body>
</html>
